<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/sb-admin-2.css" rel="stylesheet"> <!-- Asegúrate de tener tu propio CSS personalizado -->
</head>
<body class="bg-login-image">

<div class="container d-flex align-items-center justify-content-center min-vh-100">
    <div class="card shadow p-4" style="max-width: 380px; min-width: 360px width: 100%;">
        <h2 class="card-title text-center">Inicio de Sesión</h2>
        <form th:action="@{/acceder}" method="post" class="needs-validation">
            <div class="form-group">
                <label for="nombreUsuario">Usuario</label>
                <input type="text" class="form-control form-control-lg" id="nombreUsuario" name="nombreUsuario" required>
            </div>
            <div class="form-group">
                <label for="clave">Contraseña</label>
                <input type="password" class="form-control form-control-lg" id="clave" name="clave" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
            
            <div th:if="${param.error}" class="alert alert-danger text-center mt-3 py-1">
                <p th:text="${param.error}"></p>
            </div>
            <div th:if="${param.mensaje}" class="alert alert-success text-center mt-3 py-1">
                <p th:text="${param.mensaje}"></p>
            </div>
            <div th:if="${sessionExpired}" class="alert alert-warning text-center mt-3 py-1" role="alert">
                <span th:text="${sessionExpired}"></span>
            </div>
            
            <div class="text-center mt-3">
                <a href="#" data-toggle="modal" data-target="#forgotPasswordModal">¿Olvidaste tu contraseña?</a>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="forgotPasswordModalLabel">Recuperar Contraseña</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Por favor, para recuperar tu contraseña contáctate con el administrador al abonado 2923-530179.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
