<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="componentes/head :: head"></head>
    <body class="bg-login-image" id="page-top">

        <nav th:insert="componentes/nav :: nav"></nav>

        <!-- DataTables Example -->
        <section class="m-auto col-lg-10 col-sm-12 pb-5">
            <div class="row m-0 pt-2 w-100">
                <div class="col-12 m-auto">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Listado de Ventas</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table-striped table-hover">
                                <table class="table table-bordered table-sm mb-5" id="dataTable" width="100%" cellspacing="0">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>N°</th>
                                            <th>Cliente</th>
                                            <th>DNI</th>
                                            <th>Fecha</th>
                                            <th>Monto</th>
                                            <th>Observaciones</th>
                                            <th style="width:75px;">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="venta, ind: ${ventas}">
                                            <td th:text="${ind.index+1}"></td>
                                            <td th:text="${(venta.cliente != null) ? (venta.cliente.nombre + ' ' + venta.cliente.apellido) : 'No Asignado'}"></td>
                                            <td th:text="${(venta.cliente != null) ? (venta.cliente.dni) : 'No Asignado'}"></td>
                                            <td th:text="${venta.fechaVenta}"></td>
                                            <td th:text="${venta.total}"></td>
                                            <td th:text="${venta.observaciones}"></td>
                                            <td class="text-center">
                                                <div class="d-flex">
                                                    <!-- Botón de eliminación -->
                                                    <div>
                                                        <button type="button" class="btn btn-danger rounded-circle btn-sm m-1" data-toggle="modal" th:attr="data-target='#confirmDeleteModal' + ${venta.id}" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar la Venta.">
                                                            <i class="fas fa-trash-alt"></i>
                                                        </button>
                                                    </div>
                                                    <div>
                                                        <button type="button" class="btn btn-primary btn-sm m-1 rounded-circle" data-toggle="modal" th:attr="data-target='#ventaModal' + ${venta.id}" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver Detalles de la Venta.">
                                                            <i class="fas fa-solid fa-eye"></i>
                                                        </button>
                                                    </div>
                                                </div>

                                                <!-- Modal detalles de venta -->
                                                <div class="modal fade" th:id="'ventaModal' + ${venta.id}" tabindex="-1" role="dialog" aria-labelledby="'ventaModalLabel' + ${venta.id}" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title text-dark " th:id="'ventaModalLabel' + ${venta.id}">Detalles de la Venta</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body ">
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <p><strong>Orden:</strong> <span class="text-primary" th:text="${venta.id}"></span></p>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <p><strong>Cliente:</strong> <span class="text-primary" th:text="${(venta.cliente != null)? venta.cliente.nombre + ' ' + venta.cliente.apellido: 'No asignado'}"></span></p>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <p><strong>DNI:</strong> <span class="text-primary" th:text="${(venta.cliente != null)? venta.cliente.dni: 'No asignado'}"></span></p>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <p><strong>Dirección:</strong> <span class="text-primary" th:text="${(venta.cliente != null)? venta.cliente.direccion : 'No asignado'}"></span></p>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <p><strong>Teléfono:</strong> <span class="text-primary" th:text="${(venta.cliente != null)? venta.cliente.telefono: 'No asignado'}"></span></p>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <p><strong>Fecha de Venta:</strong> <span class="text-primary" th:text="${venta.fechaVenta}"></span></p>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <p><strong>Observaciones</strong> <span class="text-primary" th:text="${venta.observaciones}"></span></p>
                                                                    </div>
                                                                </div>

                                                                <hr class="hr text-primary">
                                                                <!-- Tabla de Productos -->
                                                                <h5 class="text-dark text-left">Productos comprados:</h5>
                                                                <table class="table table-bordered thead-light">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Producto</th>
                                                                            <th style="width: 70px">Cantidad</th>
                                                                            <th style="width: 70px">Precio</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr class="text-primary" th:each="item : ${venta.itemsVenta}">
                                                                            <td th:text="${item.producto.nombre + ' ' + item.producto.descripcion}"></td>
                                                                            <td th:text="${item.cantidad}"></td>
                                                                            <td th:text="${item.precioUnitario}"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>

                                                                <!-- Monto -->
                                                                <div class="row  d-flex">
                                                                    <div class="col-sm-12 pr-3  text-right justify-content-center">
                                                                        <p><strong>Total:</strong> <span class="text-primary font-weight-bold" th:text="'$' + ' ' +${venta.total}"></span></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>  

                                                <!-- Modal de Confirmación -->
                                                <div class="modal fade" th:id="'confirmDeleteModal' + ${venta.id}" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                ¿Estás seguro de que deseas eliminar esta venta?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <form th:action="@{/eliminarVenta}" method="post">
                                                                    <input type="hidden" name="idVta" th:value="${venta.id}">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                
                                </table>
                                
                            </div>
                          
                                <small th:if="${session.mensajeConfirm}" class="form-text text-success" th:text="${session.mensajeConfirm}"></small>
                           
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        


        <div th:insert="componentes/footer::footer"></div>

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <div th:insert="componentes/modalCerrarSesion :: modalCerrarSesion"></div>

        <div th:insert="componentes/scriptsBTyJS :: scriptsBTyJS"></div>
  <script>
                // Inicializa los tooltips
                document.querySelectorAll('[data-bs-toggle="tooltip"]').forEach(function (tooltipElement) {
                    new bootstrap.Tooltip(tooltipElement);
                });
            </script>
    </body>
</html>
