<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="componentes/head::head"></head>
    <body class="bg-login-image" id="page-top">

        <nav th:insert="componentes/nav::nav"></nav>

        <div class="container mt-5 pb-5" >
            <h1 class="text-center text-white mb-4">Panel de Venta</h1>

            <div class="row">
                <div class="col-lg-6">
                    <!-- Formulario para seleccionar cliente -->
                    <form th:action="@{/seleccionarCliente}" method="get">
                        <div class="form-group">
                            <label for="inputCliente" class="text-white">Selecciona un Cliente:</label>
                            <input type="text" class="form-control form-control-lg" id="inputCliente" name="dniCliente" list="listaClientes" placeholder="Buscar cliente...">
                            <datalist id="listaClientes">
                                <th:block th:each="cliente : ${clientes}">
                                    <option th:value="${cliente.dni}" th:text="${cliente.nombre + ' - ' + cliente.apellido + ' - ' + cliente.dni}"></option>
                                </th:block>
                            </datalist>
                        </div>
                        <button type="submit" class="btn btn-primary">Seleccionar</button>
                    </form>


                    <!-- Datos del Cliente seleccionado -->
                    <div class="mt-4 text-white">
                        <h2 class="text-white">Datos del Cliente:</h2>
                        <p>Nombre: <span th:text="${session.cliente != null} ? ${session.cliente.nombre} : ''"></span></p>
                        <p>Apellido: <span th:text="${session.cliente != null} ? ${session.cliente.apellido} : ''"></span></p>
                        <p>DNI: <span th:text="${session.cliente != null} ? ${session.cliente.dni} : ''"></span></p>
                        <p>Dirección: <span th:text="${session.cliente != null} ? ${session.cliente.direccion} : ''"></span></p>
                        <p>Teléfono: <span th:text="${session.cliente != null} ? ${session.cliente.telefono} : ''"></span></p>
                    </div>


                </div>

                <div class="col-lg-6">
                    <!-- Formulario para buscar y agregar productos -->
                    <!-- Formulario para buscar y agregar productos -->
                    <form th:action="@{/agregarProducto}" method="post" class="mb-4">
                        <div class="form-group">
                            <label for="inputProducto" class="text-white">Selecciona un Producto:</label>
                            <input type="text" class="form-control form-control-lg" id="inputProducto" name="idProducto" list="listaProductos" placeholder="Buscar producto...">
                            <datalist id="listaProductos">
                                <!-- Iteración sobre los productos desde el controlador -->
                                <th:block th:each="producto : ${productos}">
                                    <option th:value="${producto.id}" th:text="${producto.nombre + ' - ' + producto.marca + ' - ' + producto.descripcion + ' - ' + producto.precio}"></option>
                                </th:block>
                            </datalist>
                        </div>
                        <button type="submit" class="btn btn-success">Agregar</button>
                    </form>



                    <!-- Tabla para mostrar productos seleccionados -->
                    <div class="table-responsive">
                        <table class="table table-bordered bg-gradient-light">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Precio</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Ejemplo de producto agregado dinámicamente -->
                                <tr th:each="prod : ${session.productosSeleccionados}">
                                    <td th:text="${prod.nombre}">milanesa</td>
                                    <td th:text="${prod.precio}">$10.00</td>
                                    <td class="w-25">
                                        <form th:action="@{/eliminarProducto}" method="post">
                                            <input type="hidden" th:value="${prod.id}" name="idProd">
                                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <!-- Fila para mostrar el total de los precios -->
                                <tr>
                                    <td colspan="2" class="text-right"><strong>Total:</strong></td>
                                    <td><strong th:text="${session.total}">$10.00</strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>


                    <!-- Botón para confirmar la venta -->
                    <form th:action="@{/confirmarVenta}" method="post">
                        <button type="submit" class="btn btn-success mt-4">Confirmar Venta</button>
                    </form>
                </div>
            </div>
        </div>

        <div th:insert="componentes/footer::footer"></div>

        <!-- Scroll to Top Button -->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <div th:insert="componentes/modalCerrarSesion::modalCerrarSesion"></div>

        <div th:insert="componentes/scriptsBTyJS::scriptsBTyJS"></div>

    </body>
</html>
