<!DOCTYPE html>
<html lang ="es" xmlns:th="http://www.thymeleaf.org">
<head th:insert="componentes/head:: head"></head>
<body class="bg-login-image">

   <nav th:insert="componentes/nav :: nav"></<nav></nav>
    
        <!-- DataTables Example -->
    <section class="mt-5">
        <div class="row m-auto w-100">
            <div class="col-10 m-auto">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Listado de Productos:</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table-hover">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Nombre</th>
                                        <th>Marca</th>
                                        <th>Descripción</th>
                                        <th>Precio</th>
                                        <th>Stock</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Iterar sobre la lista de productos -->
                                    <tr th:each="producto : ${listadoProductos}">
                                        <td th:text="${producto.id}"></td>
                                        <td th:text="${producto.nombre}"></td>
                                        <td th:text="${producto.marca}"></td>
                                        <td th:text="${producto.descripcion}"></td>
                                        <td th:text="${producto.precio}"></td>
                                        <td th:text="${producto.stock}"></td>
                                        <td class="text-center w-auto">
                                            <form th:action="@{/actualizarProductos}" method="post">
                                                <input type="hidden" name="id" th:value="${producto.id}">
                                                <input type="hidden" name="idProducto" th:value="${producto.id}">
                                                <button type="submit" class="btn btn-primary btn-circle">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

          <div th:insert="componentes/footer::footer"></div>
   
 <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

   <div th:insert="componentes/modalCerrarSesion :: modalCerrarSesion"></div>

  <div th:insert="componentes/scriptsBTyJS:: scriptsBTyJS"></div>
</body>
</html>
